extends layout

block content

  div.container
    nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
      ul(class="nav navbar-nav")
        li 
          a(href='/main') Home
    div.row
      h1.text-center About Book Club
      h2 Who?
      p Book Club is for book lovers who want to put more time and effort into writing about books and spend less time and effort fiddling with a website. The functions are simple and the user experience is straight-forward. Everything about the site is designed to deliver meaningful content to the user.
      hr
      h2 How?
      p If you want to have a rewarding experience using this site, I suggest you write a couple of well thought-out reviews and make a simple list, perhaps “this year's top five”, so that other users can find you. Then, enter a genre that you enjoy into the search bar and look around, find someone who you think can help you discover more good books and follow them.
      hr
      h2 And?
      p Book club does not require a lot of participation, that way you can spend more time reading and less time on your computer. You don't need to follow a lot of people, I hope that just five to ten friends will be enough to give you a few good recommendations each week. And what more does a book lover need?
      hr
      h2 Why?
      p I am a book lover and a novice programmer who was raised with the insane idea that art and literature are more important than money. My goal is to create a web experience centered on valuable content, not on silly tricks that get you to view more ads or enter marketable information into an algorithm. If you have any questions or comments, e-mail me at james.howe.edwards@gmail.com.
