doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="google-site-verification" content="9ILsoJ3UcJ9-VL3SRJcEyX8HlJ44G_bc0pAtOn5CoTg")
    link(href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/date-format.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/functions.js')
  body
    block content