extends layout

block content

  div.container
    nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
      ul(class="nav navbar-nav")
        li 
          a(href='/main') Home
        li
          a(href='/logout') Log out
    div.spacer
    div.row
      div.col-md-4
        h2 New list
        div.spacer
        div.listmaker
          form(method='post' action='/newlist')
            span.lm(class="label label-info" style="margin-right:4px;") How many titles in your list?
            select.lm(name="num" id="titlesNum")
              - for(i=1;i<20;i++)
                option= i
            br
            input.lm(type='submit' class="btn btn-default" value="make list")
      div.col-md-4
      h2 Your Lists
      hr
      - each list in lists
        h3
          span(class="label label-info")= list.name         
          a(href="/lists/#{list._id}")  Take a look