extends layout

block content

  div.container
    div.row
      form(method="post" action="/saveinfo")
        div.col-md-6
          h1 Choose the genres you are interested in:
          hr
          - each genre in genres
            div.checkbox
              label
                input(type="checkbox" name="genres" value="#{genre}") 
                span= genre
        div.col-md-6
          h1 Write the full name of your favorite authors:
          hr
          h3
            span(class="label label-default") Format like this: "Phillip K Dick, Robert Frost, Arthur C Clark"
          div.form-group
            input(type="text" class="form-control" name="authors")
          h1 Write a short Bio:
          hr
          div.form-group
            textarea(class='form-control' name='bio')
          input(type="submit" value="DONE")