extends layout

block content

  div.container
    nav(class="navbar navbar-default" role="navigation")
      ul(class="nav navbar-nav")
        li 
          a(href='/main') Home
        li
          a(href='/logout') Log out
    div.row
      div.col-md-8
        h1 Write a new review:
        form(method="post" action="savereview")
          div.form-group
            label(for="title") Book title:
            input(type="text" class="form-control" name="title" required)
          div.form-group
            label(for="author") Author:
            input(type="text" class="form-control" name="author" required)
          div.form-group
            label(for="content") Review content:
            textarea(class="form-control" name="content")
          div.form-group
            label(for="genre") Most relevant genre:
            select.lm(name="genre")
              - each genre in genres
                option= genre
          div.form-group
            label(for="tags") Tags and sub-genres:
            input(type="text" class="form-control" name="tags")
          input(type="submit" class="btn btn-default" value="SAVE")
      div.col-md-4
        h1 Your reviews
        hr
        - each review in reviews
          a(class="btn btn-primary" href="/reviews/#{review._id}")= review.title
