extends layout

block content

  div.container
    div.row
      div.col-md-6
        h1.text-center Book Club
        div.spacer
        img(src="./image/titleimage.jpeg" height="320" width="540")
        h3.text-center A space for book lovers
      div.col-md-6
        h1 Sign up to share your passion!
        div.spacer
        form(method='post' action='/register')
          div.form-group
            label(for="name") Your Name:
            input(type="text" class="form-control" id="name" name="name" required)
          div.form-group
            label(for="username") Your Username:
            input(type="text" class='form-control' id="username" name="username" required)
          div.form-group
            label(for="pass") Password:
            input(type="password" class='form-control' id="pass" name="password" required)
          input(type="submit" class="btn btn-default" value="JOIN")
        div.spacer
        form(method='post' action='/login')
          div.form-group
            input(type='text' class="form-control" placeholder="username" name='username' width="200")
          div.form-group
            input(type='password' class="form-control" placeholder="password" name='password' width="200")
          input(type='submit' class="btn btn-success" value='login')
