extends layout

block content

  div.container
    div.row
      div.col-md-6
        h1(class="text-center")<strong>Book Club</strong>
        div.spacer
        img.center-block(src="./image/book.jpeg" height="160" width="270")
        h3.text-center Simple, straight forward networking <br> for book lovers.
        hr
        h2
          span(class="label label-primary tab") R
        p Members can write book and blog reviews to help other members find material worth reading
        h2
          span(class="label label-warning tab") L
        p Lists can be made to put a collection of good reads in one place, <br> for example "best tech blogs" or "this years best fiction"
        h2
          span(class="label label-danger tab") Rq
        p Members can make requests to solicit advice from other members
        br
        h2
          span(class="label label-info tab") N
        p Notes are open ended, any kind of public message can be put in a note
        br
        h2
          span(class='label label-success tab') F
        p Follow other members to recieve updates on their activity
      div.col-md-6
        h1 Sign up to share your passion!
        div.spacer
        form(method='post' action='/register')
          div.form-group
            label(for="name") Name:
            input(type="text" class="form-control" id="name" name="name" required)
          div.form-group
            label(for="username") Username:
            input(type="text" class='form-control' id="username" name="username" required)
          div.form-group
            label(for='email') Email:
            input(type='text' class='form-control' name='email')
          div.form-group
            label(for="pass") Password:
            input(type="password" class='form-control' id="pass" name="password" required)
          input(type="submit" class="btn btn-default" value="JOIN")
        hr
        h2 member login
        div.spacer
        form(method='post' action='/login')
          div.form-group
            input(type='text' class="form-control" placeholder="username" name='username' width="200")
          div.form-group
            input(type='password' class="form-control" placeholder="password" name='password' width="200")
          input(type='submit' class="btn btn-success" value='login')
    div.row
      hr
      div.col-md-6
        h2(style="text-align:center;") Newest Reviews
        - each review in reviews
          div.news
            h2
              span(class="label label-primary tab") R
            p= review.description
            p On 
              = review.DateTime.toString().split(/\d\d\:\d\d\:\d\d/)[0]
              a(href='reviews/#{review.actionRef}')  Check it out
            hr
      div.col-md-6
        h2(style="text-align:center;") Newest Lists
        - each list in lists
          div.news
            h2
              span(class="label label-warning tab") L 
            p= list.description
            p On 
              = list.DateTime.toString().split(/\d\d\:\d\d\:\d\d/)[0]
                a(href='lists/#{list.actionRef}')  Take a look
            hr