body {
  padding: 50px;
  font: 14px "Lucida Grande","PT Serif", Helvetica, Arial, sans-serif;
}

.PT {
	font-family: "PT Serif", serif;
}

h2.PT {
	font-family: "PT Serif", serif;
}

a {
  color: #00B7FF;
}

.spacer {
	margin-bottom: 16px;
}

.news {
	margin-bottom: 2px;
	padding: 2px;
	height: 80px;
	width: 510px;
}
.tab {
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 8px;
}

.main-nav {
	padding: 8px;
	border-radius: 16px;
	background-color: #98F5FF
}

.button {
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
}

.newsfeed {
	overflow: auto;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.closeline {
	margin-top: 4px;
	margin-bottom: 4px;
}
.padleft {
	margin-left: 8px;
}
.listmaker {
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	padding: 6px;
}

.lm {
	margin: 6px;
}

.listitems {
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	padding: 6px;
	margin-bottom: 8px;
}

.profile-box {
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 6px;
}