body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.spacer {
	margin-bottom: 16px;
}

hr.fancy-line { 
    border: 0; 
    height: 1px;

}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}
.news {
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	margin-bottom: 8px;
	padding: 8px;
	height: 80px;
	width: 500px;
}
.tab {
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 8px;
}

.main-nav {
	padding: 8px;
	border-radius: 16px;
	background-color: #98F5FF
}

.button {
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
}

.newsfeed {
	overflow: auto;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}
